<div>
<h1>Signup</h1>
<%= form_with(scope: :user, url: sessions_signup_submit_path) do |form| %>
  
  <p>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </p>
  
  <p>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </p>  

  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>