<div class="layout-pages">
<h1>Registered Accounts</h1>

<%= form_with url: admins_user_sort_path do |form| %>
  <%= form.label "User Status" %>
  <%= form.select :status, options_for_select([["All", "all"], ["Pending", "pending"], ["Verified", "verified"]], params[:status]), {}, { onchange: "this.form.submit();" } %>
<% end %>



<table>
<thead>
    <tr>
    <th class="layout-table-head" style="width:10vw;"><p>Email Address</p></th>
    <th class="layout-table-head"><p>Verified</p></th>
    <th class="layout-table-head"><p>Admin</p></th>
    </tr>
</thead>
<tbody>
    <% @user.each do |user| %>
    <tr class="layout-data">
        <td style="text-align:left; padding: 10px 10px;">
        <p><a href="<%= admins_user_view_path(user) %>"><%= user.email %></a></p>
        </td>
        <td><p><%= user.is_verified %></p></td>
        <td><p><%= user.is_admin %></p></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>