<div>
<h1>Signup</h1>
<%= form_with(scope: :user, url: create_path) do |form| %>
  
  <div class="form-user-details">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div class="form-user-details">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  
  <div class="form-user-details">
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>  

  <div class="form-user-details">
    <%= form.submit %>
  </div>
<% end %>
</div>