
<%= form_with(scope: :trade, url: execute_path) do |form| %>
  
  <%= @coin_id %>
  <%= @entry_price %>
  <% if session[:user_id] %>
    <% if @user.wallet %>
        Current Balance <%= @user.wallet.balance %>
    <% end %>
<% end %>
  
    <p>
      <%= form.label :size, style: "display: block" %>
      <%= form.text_field :size %>
    </p>
    <p>
      <%= form.label :coin_id, style: "display: block" %>
      <%= form.text_field :coin_id, value:@coin_id, disabled: true %>
    </p>
    <p>
      <%= form.label :entry_price, style: "display: block" %>
      <%= form.number_field :coin_price, value:@entry_price, disabled: true %>
    </p>
    <%= Trade.total_price(@entry_price, @size) %>
    <p>
      <%= form.submit %>
    </p>
  <% end %>