<!DOCTYPE html>
<html>
  <head>
  
    <title>Stock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="wrapper">
    <header>
    <nav>
        <ul class="navbar">
            <li class="navbar-item"><%= link_to "Home" %></li>
            <li class="navbar-item"><%= link_to "Market"%></li>
            <li class="navbar-item"><%= link_to "Trade/Portfolio" %></li>
            <li class="navbar-item"><%= link_to "Transaction"%></li>
            <li class="navbar-item"><%= link_to "Signup", signup_path %></li>
        </ul>
    </nav>
    </header>

    <div class="main">
        <%= yield %>
    </div>

    <footer>
    All Rights Reserved
    </footer>

  </div>
  </body>
</html>
