<!DOCTYPE html>
<html>
  <head>
  
    <title>Stock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "forms", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flash", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="wrapper">
    <header>
    <nav>
        <ul class="navbar">
            <div class="buttons-wrapper-left">
              <li class="navbar-item"><%= link_to "Home", users_home_path %></li>
              <li class="navbar-item"><%= link_to "Market"%></li>
              <li class="navbar-item"><%= link_to "Trade/Portfolio" %></li>
              <li class="navbar-item"><%= link_to "Transaction"%></li>
            </div>
            <div class="buttons-wrapper-right">
              <% if @is_admin %>
                <li class="navbar-item"><%= link_to "Admin", admins_admin_path %></li>
              <% end %>
              
              <% if !session[:user_id] %>
              <li class="navbar-item focus-light"><%= link_to "Signin", sessions_signin_path %></li>
              <li class="navbar-item"><%= link_to "Signup", sessions_signup_path %></li>
              <% end %>

              <% if session[:user_id] %>
              <li class="navbar-item"><%= link_to "Logout", sessions_logout_path, method: :delete %></li>
              <% end %>
            <div>
        </ul>
    </nav>
    </header>

    <div class="main">
    <%= render partial: 'shared/flash' %>
      <%= yield %>
    </div>

    <footer>
    All Rights Reserved
    </footer>

  </div>
  </body>
</html>